body{
    background-color: rgb(124, 220, 188);
}

div h1{
    width: 200px;
}


.poster{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}

.posterimg{
    width: 200px;
    height: 300px;
}

#poster1{
    background-color: rgb(146, 146, 160);
}

#poster2{
    background-color: rgb(40, 156, 182);
}

#poster3{
    background-color: rgb(220, 26, 8);
}